@font-face {
    font-family: "bebas";
    src: url(../font/BebasNeue-Regular.ttf);
    src: url(../font/BebasNeue-Regular.otf);
}
@font-face {
    font-family: "titi";
    src: url(../font/TitilliumWeb-Regular.ttf);
}
@font-face {
    font-family: "social";
    src: url(../font/social-media.ttf);
}